html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #eff0f1;
  background-image: url(../images/vector_earth.png);
  background-size: 30% auto;
  background-position: center 25vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Noto Sans", sans-serif;
  padding: 0;
  margin: 0;
}

section {
  outline: none;
}

section:not(#title) {
  min-height: 100vh;
  padding: 0 30px;
}

@media screen and (min-width: 801px) {
  section {
    padding: 0;
  }
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
  margin: 0;
}

main {
  position: relative;
}

.content_column {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.black_box {
  background-color: black;
  color: white;
  padding: 30px;
}
