#siteHeader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

#siteNav {
  background-color: white;
  display: relative;
}

#siteNav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

#siteNav ul li {
  flex: 1;
  list-style: none;
}

#siteNav ul li a {
  color: black;
  display: block;
  font-family: "Fjalla One", sans-serif;
  font-size: 18px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

#siteNav ul li:nth-child(1) a {
  background-color: pink;
}
#siteNav ul li:nth-child(2) a {
  background-color: lightblue;
}
#siteNav ul li:nth-child(3) a {
  background-color: #def3a6;
}
#siteNav ul li:nth-child(4) a {
  background-color: lightsalmon;
}

#siteNav ul li a:hover {
  background-color: #111;
  color: white;
}

@media screen and (min-width: 801px) {
  #siteHeader {
  }
  #siteNav ul {
  }
}
