#siteHeader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

#siteNav {
  background-color: white;
  display: relative;
}

#siteNav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

#siteNav ul li {
  flex: 1;
  list-style: none;
}

#siteNav ul li a {
  color: black;
  display: block;
  font-size: 18px;
  width: 100%;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
}

#siteNav ul li a:hover {
  background-color: lightskyblue;
}

@media screen and (min-width: 801px) {
  #siteHeader {
  }
  #siteNav ul {
  }
}
