html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 28px;
  margin-bottom: 0;
}

.curtain {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

header {
  background-color: bisque;
  display: flex;
  align-items: center;
  padding: 15px 50px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}

header .logo {
  color: black;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 19px;
  text-decoration: none;
}

header ul {
  margin: 0;
  margin-left: auto;
}

header ul li {
  display: inline-block;
  margin-right: 10px;
}

header ul li a {
  color: black;
  font-size: 15px;
  text-decoration: none;
}

header ul li a:hover {
  text-decoration: underline;
}

header .cart {
  background-color: transparent;
  cursor: pointer;
  display: block;
  border: none;
  height: 40px;
  position: relative;
  top: 3px;
  width: 40px;
}

header .cart img {
  transition: all 0.2s ease-out;
}
header .cart img:hover {
  transform: scale(1.05);
}

.cart_expand {
  display: none;
  background-color: white;
  box-shadow: 0px 6px 13px -4px rgba(0, 0, 0, 0.37);
  border-radius: 3px;
  padding: 20px;
  position: absolute;
  top: 100%;
  right: 0;
  width: 250px;
}

header .cart:hover .cart_expand {
  display: block;
}

.cart_expand h6 {
  font-size: 16px;
  margin: 0 0 10px 0;
}

.cart_expand table {
  font-size: 14px;
  text-align: left;
}
.cart_expand table tr td {
  padding: 10px 5px;
}
.cart_expand table tr td:nth-child(2) {
  text-align: right;
}

header .cart img {
  background-color: transparent;
  height: auto;
  width: 100%;
}

p {
  font-size: 18px;
  margin: 50px 0;
  line-height: 1.5;
}

#intro {
  background-image: url(../images/heart-about.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

#intro .content_container {
  color: white;
  max-width: 800px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  /* text-shadow: 0px 0px 15px rgba(0, 0, 0, .3); */
  text-align: center;
  z-index: 3;
}

#intro .content_container h1 {
  font-size: 48px;
  margin: 0;
}

#intro .content_container p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#intro .content_container a {
  background-color: bisque;
  border-radius: 3px;
  display: inline-block;
  color: black;
  padding: 15px 30px;
  position: relative;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

#intro .content_container a:hover {
  transform: translateY(-2px) scale(1.02);
}

.about_section,
.roasts_section {
  background-color: #eaeaea;
  color: #333;
  padding: 50px 70px;
}

.about_section {
  padding-top: 70px;
  padding-right: 40%;
}

.roasts_section {
  padding-left: 40%;
}

.about_section p,
.roasts_section p {
  margin: 20px 0;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

#overlay.show {
  display: block;
}

#messageBox {
  background-color: white;
  border-radius: 3px;
  max-width: 800px;
  padding: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
